body
{
margin:0px;
padding:0px;
}
.ulp-content {
    position: relative;
}
#ulp-layer-122 {
    text-align: left;
    z-index: 1000003;
}
#ulp-layer-122, #ulp-layer-122 p, #ulp-layer-122 a, #ulp-layer-122 span, #ulp-layer-122 li, #ulp-layer-122 input, #ulp-layer-122 button, #ulp-layer-122 textarea {
    color: #000000;
    font-family: "arial",arial;
    font-weight: 400;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}

.ulp-layer img {
    border: medium none !important;
    box-shadow: none !important;
    margin: 0 !important;
    max-width: 100% !important;
    min-width: 0 !important;
    padding: 0 !important;
}
img {
    max-width: 100%;
}
#ulp-layer-123 {
    text-align: left;
    z-index: 1000007;

}
#ulp-layer-123, #ulp-layer-123 p, #ulp-layer-123 a, #ulp-layer-123 span, #ulp-layer-123 li, #ulp-layer-123 input, #ulp-layer-123 button, #ulp-layer-123 textarea {
    color: #000000;
    font-family: "arial",arial;
    font-weight: 400;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
iframe {
    border: 0 none;
    width: 100%;
}
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, a, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr, iframe {
    font: inherit;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
#ulp-layer-123 {
    text-align: left;
}
#ulp-layer-123, #ulp-layer-123 p, #ulp-layer-123 a, #ulp-layer-123 span, #ulp-layer-123 li, #ulp-layer-123 input, #ulp-layer-123 button, #ulp-layer-123 textarea {
    color: #000000;
}
#ulp-layer-124 {
    padding: 10px 20px;
    text-align: center;
    z-index: 1000007;
}
#ulp-layer-124, #ulp-layer-124 p, #ulp-layer-124 a, #ulp-layer-124 span, #ulp-layer-124 li, #ulp-layer-124 input, #ulp-layer-124 button, #ulp-layer-124 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
#ulp-layer-125 {
    text-align: right;
    z-index: 1000007;
}
#ulp-layer-125, #ulp-layer-125 p, #ulp-layer-125 a, #ulp-layer-125 span, #ulp-layer-125 li, #ulp-layer-125 input, #ulp-layer-125 button, #ulp-layer-125 textarea {
    color: #ffffff;
    font-family: "arial",arial;
    font-weight: 700;
    text-shadow: 1px 1px 1px #3a3a3a;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
#ulp-layer-125, #ulp-layer-125 p, #ulp-layer-125 a, #ulp-layer-125 span, #ulp-layer-125 li, #ulp-layer-125 input, #ulp-layer-125 button, #ulp-layer-125 textarea {
    color: #ffffff;
    font-family: "arial",arial;
    font-weight: 700;
    text-shadow: 1px 1px 1px #3a3a3a;
}
.ulp-window a {
    text-decoration: none !important;
}
a, .contactForm input[type="text"]:focus, .contactForm input[type="email"]:focus, .contactForm textarea:focus, input#formSubmit, .errorForm, #subscribe input[type="email"]:focus, .errorSubs, .servSingle, #toTop i, #notForm input[type="email"]:focus, .contactForm input#submit, #loginForm input, #loginForm input[type="text"]:focus, #loginForm input[type="password"]:focus {
    transition: all 0.5s ease 0s;
}
a, a:active, a:hover {
    outline: medium none;
}
