body
{
margin:0px;
padding:0px;
}
.ulp-content {
    position: relative;
}
.ulp-window {
    text-align: left;
}#ulp-layer-149 {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 4px 30px rgba(32, 32, 32, 1);
    text-align: left;
    z-index: 1000002;
}
#ulp-layer-149, #ulp-layer-149 p, #ulp-layer-149 a, #ulp-layer-149 span, #ulp-layer-149 li, #ulp-layer-149 input, #ulp-layer-149 button, #ulp-layer-149 textarea {
    color: #000000;
    font-family: "arial",arial;
    font-weight: 400;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
.ulp-layer img {
    border: medium none !important;
    box-shadow: none !important;
    margin: 0 !important;
    max-width: 100% !important;
    min-width: 0 !important;
    padding: 0 !important;
}
img {
    max-width: 100%;
}
#ulp-layer-149 {
    text-align: left;
}
#ulp-layer-149, #ulp-layer-149 p, #ulp-layer-149 a, #ulp-layer-149 span, #ulp-layer-149 li, #ulp-layer-149 input, #ulp-layer-149 button, #ulp-layer-149 textarea {
    color: #000000;
}
#ulp-layer-150 {
    background-color: rgba(10, 10, 10, 0.6);
    padding: 5px 20px;
    text-align: left;
    z-index: 1000003;
}
#ulp-layer-150, #ulp-layer-150 p, #ulp-layer-150 a, #ulp-layer-150 span, #ulp-layer-150 li, #ulp-layer-150 input, #ulp-layer-150 button, #ulp-layer-150 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
#ulp-layer-151 {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    z-index: 1000007;
}
#ulp-layer-151, #ulp-layer-151 p, #ulp-layer-151 a, #ulp-layer-151 span, #ulp-layer-151 li, #ulp-layer-151 input, #ulp-layer-151 button, #ulp-layer-151 textarea {
    color: #000000;
    font-family: "arial",arial;
    font-weight: 400;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
#ulp-layer-152 {
    text-align: justify;
    z-index: 1000007;
}
#ulp-layer-152, #ulp-layer-152 p, #ulp-layer-152 a, #ulp-layer-152 span, #ulp-layer-152 li, #ulp-layer-152 input, #ulp-layer-152 button, #ulp-layer-152 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
#ulp-layer-153 {
    text-align: left;
    z-index: 1000007;
}
#ulp-layer-153, #ulp-layer-153 p, #ulp-layer-153 a, #ulp-layer-153 span, #ulp-layer-153 li, #ulp-layer-153 input, #ulp-layer-153 button, #ulp-layer-153 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
#ulp-layer-153 input.ulp-input {
    padding-left: 34px !important;
}
#ulp-KiNSkXji3bqvBVUB .ulp-input, #ulp-KiNSkXji3bqvBVUB .ulp-input:hover, #ulp-KiNSkXji3bqvBVUB .ulp-input:active, #ulp-KiNSkXji3bqvBVUB .ulp-input:focus {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-color: #606060;
    border-radius: 3px !important;
    border-width: 1px !important;
}
#ulp-layer-153, #ulp-layer-153 p, #ulp-layer-153 a, #ulp-layer-153 span, #ulp-layer-153 li, #ulp-layer-153 input, #ulp-layer-153 button, #ulp-layer-153 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-input {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 2px !important;
    border-spacing: 0 !important;
    border-style: solid !important;
    border-width: 1px !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    clear: both !important;
    font-size: inherit !important;
    height: 100% !important;
    line-height: 1.5 !important;
    margin: 0 !important;
    padding: 0 6px !important;
    vertical-align: middle !important;
    width: 100% !important;
}
input:-moz-read-write, textarea:-moz-read-write {
    -moz-user-modify: read-write !important;
}
input {
    -moz-appearance: textfield;
    -moz-binding: url("chrome://global/content/platformHTMLBindings.xml#inputFields");
    -moz-user-select: text;
    cursor: text;
    font: ;
    letter-spacing: normal;
    line-height: normal;
    padding: 1px;
    text-align: start;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-transform: none;
    word-spacing: normal;
}
textarea > .anonymous-div, input > .anonymous-div, input::-moz-placeholder, textarea::-moz-placeholder, *|*::-moz-button-content, *|*::-moz-display-comboboxcontrol-frame, optgroup:before {
    text-overflow: inherit;
    unicode-bidi: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    display: inline-block !important;
    opacity: 0.54;
    overflow: hidden !important;
    pointer-events: none !important;
    resize: none !important;
}
textarea > .anonymous-div, input > .anonymous-div, input::-moz-placeholder, textarea::-moz-placeholder {
    -moz-control-character-visibility: visible;
    border: 0 none !important;
    display: inline-block;
    ime-mode: inherit;
    margin: 0;
    overflow: auto;
    padding: inherit !important;
    resize: inherit;
    text-decoration: inherit;
    white-space: pre;
}
input > .anonymous-div, input::-moz-placeholder {
    line-height: -moz-block-height;
    word-wrap: normal !important;
}

.ulp-fa-input-table {
    display: table;
    height: 100%;
    left: 0;
    line-height: 100%;
    position: absolute;
    top: 0;
    vertical-align: middle;
}
#ulp-layer-153 div.ulp-fa-input-cell {
    padding-left: 4px !important;
    width: 30px !important;
}
.ulp-fa-input-cell {
    display: table-cell;
    opacity: 0.7;
    text-align: center;
    vertical-align: middle;
}
#ulp-layer-153, #ulp-layer-153 p, #ulp-layer-153 a, #ulp-layer-153 span, #ulp-layer-153 li, #ulp-layer-153 input, #ulp-layer-153 button, #ulp-layer-153 textarea {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
.ulp-fa-input-cell {
    text-align: center;
}
#ulp-layer-154 {
    text-align: left;
    z-index: 1000007;
}
#ulp-layer-154, #ulp-layer-154 p, #ulp-layer-154 a, #ulp-layer-154 span, #ulp-layer-154 li, #ulp-layer-154 input, #ulp-layer-154 button, #ulp-layer-154 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
#ulp-layer-154 input.ulp-input {
    padding-left: 34px !important;
}
#ulp-KiNSkXji3bqvBVUB .ulp-input, #ulp-KiNSkXji3bqvBVUB .ulp-input:hover, #ulp-KiNSkXji3bqvBVUB .ulp-input:active, #ulp-KiNSkXji3bqvBVUB .ulp-input:focus {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-color: #606060;
    border-radius: 3px !important;
    border-width: 1px !important;
}
#ulp-layer-154, #ulp-layer-154 p, #ulp-layer-154 a, #ulp-layer-154 span, #ulp-layer-154 li, #ulp-layer-154 input, #ulp-layer-154 button, #ulp-layer-154 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-input {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    border-radius: 2px !important;
    border-spacing: 0 !important;
    border-style: solid !important;
    border-width: 1px !important;
    box-shadow: none !important;
    box-sizing: border-box !important;
    clear: both !important;
    font-size: inherit !important;
    height: 100% !important;
    line-height: 1.5 !important;
    margin: 0 !important;
    padding: 0 6px !important;
    vertical-align: middle !important;
    width: 100% !important;
	background: none repeat scroll 0 0 #000;
	opacity:0.8;
}
input:-moz-read-write, textarea:-moz-read-write {
    -moz-user-modify: read-write !important;
}
input {
    -moz-appearance: textfield;
    -moz-binding: url("chrome://global/content/platformHTMLBindings.xml#inputFields");
    -moz-user-select: text;
    cursor: text;
    font: ;
    letter-spacing: normal;
    line-height: normal;
    padding: 1px;
    text-align: start;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-transform: none;
    word-spacing: normal;
}
textarea > .anonymous-div, input > .anonymous-div, input::-moz-placeholder, textarea::-moz-placeholder, *|*::-moz-button-content, *|*::-moz-display-comboboxcontrol-frame, optgroup:before {
    text-overflow: inherit;
    unicode-bidi: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    display: inline-block !important;
    opacity: 0.54;
    overflow: hidden !important;
    pointer-events: none !important;
    resize: none !important;
}
textarea > .anonymous-div, input > .anonymous-div, input::-moz-placeholder, textarea::-moz-placeholder {
    -moz-control-character-visibility: visible;
    border: 0 none !important;
    display: inline-block;
    ime-mode: inherit;
    margin: 0;
    overflow: auto;
    padding: inherit !important;
    resize: inherit;
    text-decoration: inherit;
    white-space: pre;
}
input > .anonymous-div, input::-moz-placeholder {
    line-height: -moz-block-height;
    word-wrap: normal !important;
}
.ulp-fa-input-table {
    display: table;
    height: 100%;
    left: 0;
    line-height: 100%;
    position: absolute;
    top: 0;
    vertical-align: middle;
}
#ulp-layer-154 {
    text-align: left;
}
#ulp-layer-154, #ulp-layer-154 p, #ulp-layer-154 a, #ulp-layer-154 span, #ulp-layer-154 li, #ulp-layer-154 input, #ulp-layer-154 button, #ulp-layer-154 textarea {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}
#ulp-layer-154 div.ulp-fa-input-cell {
    padding-left: 4px !important;
    width: 30px !important;
}
.ulp-fa-input-cell {
    display: table-cell;
    opacity: 0.7;
    text-align: center;
    vertical-align: middle;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
.ulp-fa-input-cell {
    text-align: center;
}
#ulp-layer-155 {
    text-align: right;
    z-index: 1000007;
}
#ulp-layer-155, #ulp-layer-155 p, #ulp-layer-155 a, #ulp-layer-155 span, #ulp-layer-155 li, #ulp-layer-155 input, #ulp-layer-155 button, #ulp-layer-155 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
#ulp-KiNSkXji3bqvBVUB .ulp-submit, #ulp-KiNSkXji3bqvBVUB .ulp-submit:visited {
    background: linear-gradient(#94b336, #a6c93c) repeat scroll 0 0 #a6c93c;
    border: 1px solid #a6c93c;
    border-radius: 3px !important;
}
#ulp-layer-155, #ulp-layer-155 p, #ulp-layer-155 a, #ulp-layer-155 span, #ulp-layer-155 li, #ulp-layer-155 input, #ulp-layer-155 button, #ulp-layer-155 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-window a {
    text-decoration: none !important;
}
.ulp-submit, .ulp-submit:visited, .ulp-submit-button, .ulp-submit-button:visited {
    border-radius: 2px;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: inherit !important;
    height: auto;
    line-height: 1.5;
    margin: 0;
    padding: 5px 20px;
    position: relative;
    text-decoration: none !important;
    transition-duration: 0.3s;
    white-space: nowrap;
    width: auto;
	background: linear-gradient(#94b336, #a6c93c) repeat scroll 0 0 #a6c93c;
    border: 1px solid #a6c93c;
    border-radius: 3px !important;
}
.fo-right-ribbon a:hover, .fo-right-ribbon a:focus, a {
    text-decoration: none;
}
a, a:active, a:hover {
    outline: medium none;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
}
#ulp-layer-155, #ulp-layer-155 p, #ulp-layer-155 a, #ulp-layer-155 span, #ulp-layer-155 li, #ulp-layer-155 input, #ulp-layer-155 button, #ulp-layer-155 textarea {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-submit, .ulp-submit:visited, .ulp-submit-button, .ulp-submit-button:visited {
    cursor: pointer;
    font-size: inherit !important;
    white-space: nowrap;
}
#ulp-layer-155 {
    text-align: right;
}
#ulp-layer-156 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    text-align: left;
    z-index: 1000007;
}
#ulp-layer-156, #ulp-layer-156 p, #ulp-layer-156 a, #ulp-layer-156 span, #ulp-layer-156 li, #ulp-layer-156 input, #ulp-layer-156 button, #ulp-layer-156 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-layer {
    box-sizing: border-box;
    line-height: 1.475;
    position: absolute;
}
#ulp-layer-156, #ulp-layer-156 p, #ulp-layer-156 a, #ulp-layer-156 span, #ulp-layer-156 li, #ulp-layer-156 input, #ulp-layer-156 button, #ulp-layer-156 textarea {
    color: #ffffff;
    font-family: "Open Sans",arial;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000000;
}
.ulp-window a {
    text-decoration: none !important;
}
.fo-right-ribbon a:hover, .fo-right-ribbon a:focus, a {
    text-decoration: none;
}
a, .contactForm input[type="text"]:focus, .contactForm input[type="email"]:focus, .contactForm textarea:focus, input#formSubmit, .errorForm, #subscribe input[type="email"]:focus, .errorSubs, .servSingle, #toTop i, #notForm input[type="email"]:focus, .contactForm input#submit, #loginForm input, #loginForm input[type="text"]:focus, #loginForm input[type="password"]:focus {
    transition: all 0.5s ease 0s;
}
a, a:active, a:hover {
    outline: medium none;
}
table
{
	margin:20px;
	background:#f8f8f8;
	
}
table td
{
	padding:10px;
	border:1px solid #ccc;
}
table td label
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:normal;
}
table td input[type='text']
{
	border:none;
	padding:10px;
	font-size:12px;
	font-weight:normal;
	border:1px solid #ccc;
	width:300px;
}
table td textarea
{
	width:300px;
	font-size:12px;
}
#updateform
{
	background:#019ad2;
	color:#fff;
	font-size:16px;
	padding:10px;
	border:1px solid #019ad2;
	width:100px;
}